{% extends 'base.html.twig' %}

{% block title %}Hello AProposController!{% endblock %}

{% block body %}
 <style>
    .example-wrapper { margin-top:100px; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> 

<section data-jarallax data-speed=".8" class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover jarallax" style="background-image: url(build/images/cover-19.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-7">
          <blockquote class="blockquote mb-0">
           <!-- Text -->
            <p class="h2 text-white">
             {{peintre.aPropos}}
            </p>
           
            <footer class="blockquote-footer text-white-50 mb-0">
              {{peintre.prenom}}{{peintre.nom}}
            </footer>
          </blockquote>


           

         

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>





{% endblock %}
