<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
   
    </head>
    <body>

{# <img src="{{ asset('build/images/cover-19.jpg') }}" alt="ACME logo"> #}
     <!-- CONTENT -->
    <section>
      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center gx-0 min-vh-100">
          <div class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

            <!-- Heading -->
            <h1 class="mb-0 fw-bold">
              Sign up
            </h1>

            <!-- Text -->
            <p class="mb-6 text-muted">
              Simplify your workflow in minutes.
            </p>

            <!-- Form -->
            <form class="mb-6" method="post">

  {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}






              <!-- Email -->
              <div class="form-group">
                <label class="form-label" for="inputEmail">
                  Email Address
                </label>
                <input type="email" value="{{ last_username }}" class="form-control" id="inputEmail" placeholder="name@address.com" autocomplete="email" required autofocus>
              </div>



              <!-- Password -->
              <div class="form-group mb-5">
                <label class="form-label" for="inputPassword">
                  Password
                </label>
                <input type="password"  name="password" class="form-control" id="inputPassword" placeholder="Enter your password" autocomplete="current-password" required>
              </div>


    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >


              <!-- Submit -->
              <button class="btn w-100 btn-primary" type="submit">
                Sign up
              </button>

            </form>


            <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

            <!-- Text -->
            <p class="mb-0 fs-sm text-muted">
              Already have an account? <a href="signin-cover.html">Log in</a>.
            </p>

          </div>
          <div class="col-lg-7 offset-lg-1 align-self-stretch d-none d-lg-block">

            <!-- Image -->

       <div class="h-100 w-cover bg-cover" style="background-image: url( '{{asset ('build/images/cover-19.jpg') }});"></div>
            <!-- Shape -->
            <div class="shape shape-start shape-fluid-y svg-shim text-white">
              <svg viewBox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h100v386l-50 772v386H0V0z" fill="currentColor"/></svg>            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>




    <!-- JAVASCRIPT -->
  

        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>

