    <!-- ARTICLES -->
    <section class="pt-8 pt-md-11">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Heading -->
            <h2 class="mb-0">
              Dernières Réalisations
            </h2>

            <!--  -->
            <p class="mb-5 text-muted">
              Découvrez ici mes dernières réalisations
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">

        {% for peinture in peintures %}
          <div class="col-12">

            <!-- Card -->
            <div class="card card-row shadow-light-lg bg-cover overlay overlay-gradient-dark-end overlay-60 text-white mb-6" style="background-image: url(assets/img/photos/photo-30.jpg);">
              <div class="row gx-0 justify-content-end">
                <div class="col-12 col-md-6">
                <img src="{{ peinture.file }}" alt="image_peinture" class="img-fluid d-md-none invisible">

                  <!-- Body -->
                  <a class="card-body" href="{{ path('realisations_details', {'slug':peinture.slug}) }}">

                    <!-- Heading -->
                    <h3>
                      {{peinture.nom}}
                    </h3>

                    <!-- Text -->
                    <p class="mb-0 text-white-80">
                      {{peinture.description | u.truncate(200,'...', false)}}
                    </p>

                  </a>

                  <!-- Meta -->
                  <a class="card-meta" href="#!">

                    <!-- Divider -->
                    <hr class="card-meta-divider bg-white-20">

                  
                    <!-- Date -->
                    <p class="h6 text-uppercase text-white-80 mb-0 ms-auto">
                      <time datetime="2019-05-02">Ajouté le {{peinture.createdAt | date('d/m/Y') }}</time>
                    </p>

                  </a>

                </div>
              </div> <!-- / .row -->
            </div>

          </div>

           {% endfor %} 
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>