<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white border-bottom">
      <div class="container-fluid">
    
        <!-- Brand -->
        <a class="navbar-brand" href="{{ path('home')}}">
          <img src="build/images/logo.png" class="navbar-brand-img" alt="brand_logo">
        </a>
    
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
    
          <!-- Toggler -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fe fe-x"></i>
          </button>
    
          <!-- Navigation -->
          <ul class="navbar-nav ms-auto">
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="{{ path('realisations') }}">Réalisations</a>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{{ path('actualites') }}">Actualités</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Portfolio
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDocumentation">
              {% for categorie in categorieNavbar() %}
              <li class="dropdown-item dropend">
              <a href="{{path('portfolio_categorie', {'slug': categorie.slug}) }}">{{ categorie.nom }}</a>
              {# <a>Categorie 1</a> #}
              </li>
              {% endfor %}
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link"  href="{{ path('a_propos') }}">
                A propos
              </a>
              
            </li>
          </ul>
    
          <!-- Button -->
          <a class="navbar-btn btn btn-sm btn-infoprimary lift ms-auto" href="#" target="_blank">
            Me contacter <i class=“fe fe-arrow-right ms-3”></i>
          </a>
    
        </div>
    
      </div>
    </nav> 
 

