{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}
 <style>
    .example-wrapper { margin-top:100px; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> 

<div class="example-wrapper">


    {% for categorie in categories %}
    {% set img = categorie.peintures|last %}
     <section data-jarallax data-speed=".8" class="py-12 py-md-15 bg-cover jarallax" style="background-image: url(assets/img/covers/cover-8.jpg);">
         <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-12 col-md-10 col-lg-7 text-center">

            <!-- Heading -->
            <h1 class="lead text-white-75 mb-4">
              {{categorie.nom}}
            </h1>

            <!-- Text -->
            <p class="lead mb-4 text-white-75">
              {{categorie.description}}
            </p>

          </div>
       
        </div> <!-- / .row -->
     </div>
     </section>
{% endfor %}

    <!-- Shape -->
                <div class="position-relative">
                  <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                    <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>                  </div>
                </div>





 <section  class="py-8 py-md-11 mt-n10 mt-md-n14">
 <div class="container">
        <div class="row">

          {% for peinture in peintures %}
          <div class="col-12 col-md-4">
            <a class="lift lift-lg  shadow-light-lg mb-7" href="#!" data-bigpicture='{"imgSrc":"{{ peinture.file}}"}'>
                 <div class="card-zoom">
                 <img class="card-img" src="{{peinture.file}}">
                 </div>
            </a>

          </div>

           {% endfor %}


        </div>

 </div>

 </section>

</div>
{% endblock %}
