{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}
 <style>

     .example-wrapper { margin-top:100px;}
</style> 

<div class="example-wrapper">
  

  <!-- PEINTURES-->
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-12 col-md">

            <!-- Heading -->
            <h3 class="mb-0">
               Portfolio
            </h3>

            <!-- Text -->
            <p class="mb-0 text-muted">
              Here’s what we've been up to recently.
            </p>

          </div>
        
        </div> <!-- / .row -->
        <div class="row">
         {% for categorie in categories %}
          {% set img = categorie.peintures|last %}
          <div class="col-12 col-md-6 col-lg-4 d-flex">

            <!-- Card -->
            <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg">

              <!-- Image -->
              <a class="card-img-top" href="{{ path('portfolio_categorie', {'slug': categorie.slug}) }}">

                <!-- Image -->
                <img src="build/images/cover-19.jpg" alt="..." class="card-img-top">
                  
                  {# <img src="{{ img.file }}" alt="..." class="card-img-top"> #}
                
                <!-- Shape -->
                <div class="position-relative">
                  <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                    <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>                  </div>
                </div>

              </a>

              <!-- Body -->
              <a class="card-body" href="#!">

                <!-- Heading -->
                <h3>
                 {{ categorie.nom}}
                </h3>

                <!-- Text -->
                <p class="mb-0 text-muted">
                  {{ categorie.description}}
                </p>

              </a>

          
            </div>

          </div>
         
        {% endfor %}
         
        </div> <!-- / .row -->
      </div> <!-- / .container -->



{% endblock %}
