{% extends 'base.html.twig' %}

{% block title %}Hello BlogpostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {  margin-top:100px; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

<div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-12 col-md">

            <!-- Heading -->
            <h3 class="mb-0">
              Dernières Actualités
            </h3>

            <!-- Text -->
            <p class="mb-0 text-muted">
              Here’s what we've been up to recently.
            </p>

          </div>
          <div class="col-12 col-md-auto">

        
          </div>
        </div> <!-- / .row -->
        <div class="row">

        {% for blogpost in blogposts %}
         
        
          <div class="col-12 col-md-6 col-lg-4 d-flex">


            <!-- Card -->
            <div class="card mb-6 mb-md-0 shadow-light-lg lift lift-lg">

              <!-- Image -->
              <a class="card-img-top" href="{{ path('actualites_detail',{'slug': blogpost.slug}) }}">

               

                <!-- Shape -->
                <div class="position-relative">
                  <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                    <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>                  </div>
                </div>

              </a>

              <!-- Body -->
              <a class="card-body" href="#!">

                <!-- Heading -->
                <h3>
                  {{blogpost.titre}}
                </h3>

                <!-- Text -->
                <p class="mb-0 text-muted">
                 {{ blogpost.contenu | u.truncate(150,'...',false)}}
                </p>

              </a>

              <!-- Meta -->
              <a class="card-meta mt-auto" href="#!">

                <!-- Divider -->
                <hr class="card-meta-divider">


                <!-- Date -->
                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                  <time datetime="2019-05-02">publié le {{blogpost.createdAt | date('d/m/Y')}}</time>
                </p>

              </a>

            </div>

          </div>

          {% endfor %} 
        
        </div> <!-- / .row -->
      </div> <!-- / .c -->
 



<div class="d-flex justify-content-center">
 {% do blogposts.setPageRange(2) %}
 {{ knp_pagination_render(blogposts, 'base/pagination.html.twig')}} 
        

</div>


</div>
{% endblock %}
