{% extends 'base.html.twig' %}

{% block title %}Hello BlogpostController!{% endblock %}

{% block body %}



<div class="container">
	<div class="row justify-content-center">
		<div class="col-12">
			<h1 class="display-4 text-center">{{blogpost.titre}}</h1>
		</div>


		<div class="col">
			<time class="">Publié le
				{{blogpost.createdAt|date('d/m/Y') }}</time>
		</div>


		<div class="col">
			<p>{{blogpost.contenu}}</p>
		</div>


	</div>


</div>

{% endblock %}