{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin-top: 200px ; margin-left:30px }
  
</style>

<div class="example-wrapper">
   
   
<p>N'hésitez pas à me contacter</p>

<hr></hr>


{{form_start(form)}}
{% for message in app.flashes('success') %}
 <div class="alert alert-success">
 {{ message }}
 </div>
{% endfor %}

<div class="form-group mb-5">
	<label class="form-label" for="contactName">
		{{form_label(form.nom)}}
	</label>
	{{form_widget(form.nom)}}
</div>


<div class="form-group mb-5">
	<label class="form-label" for="contactEmail">
		{{form_label(form.email)}}
	</label>
	{{form_widget(form.email)}}
</div>

<div class="form-group mb-5">
	<label class="form-label" for="contactMessage">
		{{form_label(form.message)}}
	</label>
	{{form_widget(form.message)}}
</div>

<div class="form-group mb-5">
	{{form_widget(form.envoyer)}}
</div>


{{form_end(form)}}

   
</div>
{% endblock %}
