{% extends 'base.html.twig' %}

{% block title %}Hello PeintureController!{% endblock %}

{% block body %}


<div class="container-fluid px-md-0">




<div class="row justify-content-between gx-0 mx-md-0 mb-6 mb-md-2">

<div class="col-12 col-md-3" style="top:0;">
    <aside class="flex-grow-1 py-8 py-md-10">
    <div>
    <h2>{{peinture.nom}}</h2>
     {% for categorie in peinture.categorie %}
        <span class="badge bg-secondary">{{categorie.nom}}</span>
     {% endfor %}
    </div>

    <p>{{peinture.description}}</p>


    








    </aside>
</div>



</div>



</div>

















{% endblock %}